<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPG - Login or Sign Up</title>
    <!-- Bootstrap CSS (Updated CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Welcome to PPG, developed by K.S.</h2>
                    <form action="#" th:action="@{register}" th:object="${userModel}" method="POST">

                        <div class = "alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <ul class="mb-0 list-unstyled">
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>

                        </div>

                        <!-- Username Field -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control"
                                   th:field="*{username}"
                                   placeholder=""
                                   value=""
                                   minlength="4"
                                   name="username" id="username" required>
                            <label for="username">Username</label>
                        </div>

                        <!-- Password Field -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control"
                                   th:field="*{password}"
                                   placeholder=""
                                   minlength="8"
                                   value=""
                                   name="password" id="password" required>
                            <label for="password">Password</label>
                        </div>

                        <!-- Confirm password field -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control"
                                   th:field="*{confirmPassword}"
                                   placeholder=""
                                   minlength="8"
                                   value=""
                                   name="confirmPassword" id="confirmPassword" required>
                            <label for="confirmPassword">Confirm password</label>
                        </div>

                        <!-- Email field -->
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control"
                                   th:field="*{email}"
                                   placeholder=""
                                   value=""
                                   name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>

                        <!-- Submit button  -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>

                    </form>
                    <!-- Already have an account button -->
                    <div class="mt-3 text-center">
                        Already have an account? <a href="/auth/login">Sign in</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
